.hero-bg{
    position: absolute;
    z-index: -1;
    height: 24rem;
    object-fit: cover;
    width: 100vw;
    opacity: 60%;
}

.hero-front{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 24rem;
}


@media (max-width: 640px) {
    /* small screen */
}  

@media (641px <= width <= 768px) {
    /* medium screen */
}

@media (769px <= width <= 1024px) {
    /* large screen */
}  

@media (1025px <= width <= 1280px) {
    /* extra large screen */
}  

@media (1281px <= width <= 1536px) {
    /* 2xl screen */
}